<div class="site-footer">
    <div class="d-flex footer-box w-100 ">
        <div class="d-flex w-100 footer-box2  m-5 ">
            <div class="">
                راهنما
            </div>
            <div class="item"><a routerLink="./home"> about</a></div>
            <div class="item"><a routerLink="./home"> home</a></div>
            <div class="item"><a routerLink="./home"> jangali</a></div>
            <div class="item"><a routerLink="./home"> pangali</a></div>
            <hr>
        </div>
        <div class="d-flex  w-100 footer-box2  m-5">
            <div> با ما در تماس باشید</div>
            <form #footerform="ngForm" (ngSubmit)="submitform(footerform)" >
                <div class="form-group">
                  <label for="exampleInputEmail1"> ایمیل</label>
                  <input type="email" name="email" class="form-control m-1" id="exampleInputEmail1" aria-describedby="emailHelp" ngModel placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="exampleInputsub1">موضوع</label>
                  <input type="text" class="form-control m-1" id="exampleInputsub1" name="subject" [ngModel]="'give me subject'" >
                </div>
                <div class="form-check">
                    <label for="exampleFormControlTextarea1">توضیحات</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" class=" form-control " ngModel name="description" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>