a{
    text-decoration: none;
}
.site-footer{
    background-color: black;
  
    direction: rtl;
}
div{
    color: white;
}
.item  , a, label{
    color: #555556;
}
 a:hover{
    color:blueviolet;

}

@media (min-width:1024px) {
    
    .footer-box2{
        flex-direction: column;
        width: 300px !important;
    }
}
.footer-box{
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-box2{
    flex-direction: column;
}
.item{
    margin: 8px;

}